<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <h2 style="margin-left:30px">hivernateLogin</h2>
	<form role="form" ng-submit="submit()">
		<label for="username" style="margin-left:50px">username:</label>
		<input type="text" class="form-control" id="id" name="id" ng-model="formData.id" style="width:100px;margin-left:50px">
        <label for="password" style="margin-left:50px">password:</label>
        <input type="text" class="form-contorl" id="pwd" name="pwd" ng-model="formData.pwd" style="width:100px;margin-left:50px">
        <input type="submit" id="submit" value="login" style="margin-left:50px"/>
	</form>
</body>
</html>