@charset "utf-8";
/*
 파일명:		Button.css
 설명:			button
 작성자:		glim
 최종수정일:	2016/07/26
 
*/



/* Button height:33px*/
a {cursor:pointer;}
a.btn_gray,
a.btn_pos,
a.btn_black{margin:0 2px;display:inline-block;height:33px; text-align:center;letter-spacing:-0.25px;
	font-size:12px; line-height:30px; padding:0 15px 0;vertical-align:top; border-radius:2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 rgba(255, 255, 255, 0.1) inset  ; 
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 rgba(255, 255, 255, 0.1) inset  ; 
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) , 0 1px 0 rgba(255, 255, 255, 0.1) inset ;
	box-sizing:border-box;}


/* colorchip */
a.btn_black {min-width:68px; background-color:#333;border:solid 1px #191919;color:#fff; vertical-align:text-bottom;}
a.btn_pos {min-width:68px; background-color:#003272;border:solid 1px #0d018e;color:#fff;}
a.btn_gray {min-width:68px; background-color:#656565;border:solid 1px #444444;color:#fff;}


/* Button height:33px*/
a.btn_white {min-width:68px; background-color:#fdfdfd;border:solid 1px #ccc;color:#333333;}
a.btn_white {margin:0 2px;display:inline-block;height:33px; text-align:center;letter-spacing:-0.25px;
	font-size:12px; line-height:30px; padding:0 15px 0;vertical-align:top; border-radius:2px;
	box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-webkit-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-moz-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	box-sizing:border-box;}

/* 검색 TABLE 중복체크 */
a.tbtn_white {min-width:68px; background-color:#fdfdfd;border:solid 1px #ccc;color:#333333;
	display:inline-block;height:31px; text-align:center;letter-spacing:-0.25px;
	font-size:12px; line-height:28px; padding:0 0 0;vertical-align:top;box-sizing:border-box;}

input[type=button].tbtn_white {min-width:68px; background-color:#fdfdfd;border:solid 1px #ccc;color:#333333;
	display:inline-block;height:31px; text-align:center;letter-spacing:-0.25px;
	font-size:12px; line-height:28px; padding:0 0 0;vertical-align:top;box-sizing:border-box;}
	
input[type=button].btn{
	height:20px;
	vertical-align:center;
	background-color: #fdfdfd;
	border: solid 1px #ccc;
	color: #333333;
	cursor: pointer;
	-webkit-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset;
	margin:0 2px;
	padding:0 15px 0;
	letter-spacing:-0.25px;
}	
	
	
/* 팝업 버튼 */
a.pbtn_pos {margin:0 2px;display:inline-block;height:34px; text-align:center;letter-spacing:-0.25px;font-weight:bold;
	font-size:12px; line-height:33px; padding:0 15px 0;vertical-align:top; 
	box-sizing:border-box;
	min-width:68px; background-color:#003272;color:#fff;}	
	
	
/* 로그인 */
a.btn_login { display:block; border:1px solid #0a0a96; background-color:#0065B3; color:#fff; font-size:16px; line-height:44px; letter-spacing:-0.5px; }

a.btn_confirm { 
	display:inline-block; 
	height:45px; line-height:43px;
	border:1px solid #ccc;
	padding:0 15px;
	background-color:#f9f9f9;
	text-align:center; 
	letter-spacing:-0.25px; 
	color:#555; 
	font-size:12px; 
	vertical-align:top; 
	border-radius:2px;
	box-shadow: 0 -1px 0 #efefef inset; 
	-webkit-box-shadow: 0 -1px 0 #efefef inset; 
	-moz-box-shadow: 0 -1px 0 #efefef inset; 
	box-sizing:border-box;
}


/* 테이블 버튼 - 20160726 추가 */
a.tbtn_lgray,
a.tbtn_gray,
a.tbtn_ico_up,
a.tbtn_ico_delete,
a.tbtn_ico_down,
a.btn_white_add { display:inline-block; }

a.tbtn_lgray,
a.tbtn_gray { font-size:11px; line-height:18px; padding:0 8px; border-radius:2px; }

a.tbtn_lgray { background-color:#fff; border:1px solid #858585; color:#666; }
a.tbtn_gray { background-color:#5c5c5c; border:1px solid #4e4e4e; color:#fff; }

a.tbtn_ico_delete,
a.tbtn_ico_up,
a.tbtn_ico_down { overflow:hidden; width:18px; height:18px; border:1px solid #858585; text-indent:-9999px; border-radius:2px; background-image:url(../images/common/sp_ico.png); background-position:no-repeat; }

a.tbtn_ico_delete { background-position:5px 5px; }
a.tbtn_ico_up { background-position:6px -15px; }
a.tbtn_ico_down { background-position:6px -35px; }

a.btn_white_add {min-width:68px; background-color:#fff;border:solid 1px #ccc;color:#555555;}
a.btn_white_add {margin:0 2px;display:inline-block;height:33px; text-align:center;letter-spacing:-0.25px;
	font-size:12px; line-height:30px; padding:0 15px 0;vertical-align:top; border-radius:2px;
	box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-webkit-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-moz-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	box-sizing:border-box;}
a.btn_white_add span { display:inline-block; padding-left:12px; background:url(../images/common/sp_ico.png) 0 -49px no-repeat; }



/* colorchip */
a.btn_black_expire {min-width:40px; background-color:#333;border:solid 1px #191919;color:#fff; vertical-align:text-bottom;}
a.btn_black_expire {margin:0 0px;display:inline-block;height:22px; text-align:center;letter-spacing:-0.25px;
	font-size:11px; line-height:20px; padding:0 0px 0;vertical-align:top; border-radius:1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 rgba(255, 255, 255, 0.1) inset  ; 
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 1px 0 rgba(255, 255, 255, 0.1) inset  ; 
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) , 0 1px 0 rgba(255, 255, 255, 0.1) inset ;
	box-sizing:border-box;}


/* Button height:33px*/
a.btn_white_modify {min-width:40px; background-color:#fdfdfd;border:solid 1px #ccc;color:#333333;}
a.btn_white_modify {margin:0 0px;display:inline-block;height:22px; text-align:center;letter-spacing:-0.25px;
	font-size:11px; line-height:20px; padding:0 0px 0;vertical-align:top; border-radius:1px;
	box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-webkit-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	-moz-box-shadow: 0 -1px 0 rgba(156, 156, 156, 0.1) inset; 
	box-sizing:border-box;}
